body {
  background: rgb(140, 106, 215);
  color: rgb(45, 45, 45);
  padding: 10px;
  font-family: arial;
}
#all-contents {
  max-width: 800px;
  margin: auto;
}

/* navigation menu */
nav {
  background: rgb(41, 239, 41);
  margin: 0 auto;
  margin-bottom: 20px;
  display: flex;
  padding: 10px;
  border: 6px dotted;
  border-color: crimson;
}
h1 {
  display: flex;
  align-items: center;
  color: rgb(0, 0, 0);
  flex: 1;
  margin: 0;
}
#nav-ul {
  list-style-image: none;
  color: black;
  border: 2px dashed;
  border-color: crimson;
}
.nav-li {
  display: inline-block;
  padding: 0 10px;
  color: black;
}
a {
  text-decoration: none;
  color: #000000;
}

/* main container area beneath menu */
main {
  background: rgb(200, 30, 191);
  display: flex;
  border: 6px dotted;
  border-color: crimson;
}
.sidebar {
  margin-right: 25px;
  padding: 10px;
}
.sidebar-img {
  width: 200px;
  border: 4px dashed silver;
}
.content {
  flex: 1;
  padding: 15px;
}


#interests {
  border: 4px dashed silver;
  padding: 8px;
}
h2,
h3 {
  margin: 0px;
}

         /* portfolio styles */
         .content h1 {
          color: black;
      
      }

      #portfolio {
          list-style-type: none;
          padding-left: 0;
      }

      #portfolio li {
          background: #fff;
          padding: 10px;
          border-radius: 10px;
          margin-bottom: 10px;
      }

      #portfolio li:hover {
          background: #eee;
      }

      #portfolio a {
          text-decoration: none;
          color: #454545;
      }        